html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
body {
    font-size: 1em;
    line-height: 1.5; 
    background: #dbdadaa2; /* #e7e7e7 url(../images/body-bg.png) 0 0 repeat; */
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  /*  color: #6d6d6d; */
    color: #303030; 
}
header h1 {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
    letter-spacing: -1px;
    font-size: 48px;
    color: #303030;
    line-height: 1.2;
}

#container {
    /*background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;*/
    min-height: 595px;

}
.inner {
    width: 840px;
    margin: 0 auto;
    padding: 20px;
  }
h1 {
    font-size: 32px;
  } 
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 8px;
  } 
  
  h3 {
    color: #d5000d;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  } 
   
  h4 {
    font-size: 16px;
    color: #303030;
    font-weight: bold;
  } 
  
  h5 {
    font-size: 1em;
    color: #303030;
  } 
  
  h6 {
    font-size: .8em;
    color: #303030;
  } 
  p {
    font-weight: 400;
    margin-bottom: 20px;
  }

  .beta table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .beta th {
    background-color: #dbdadaaa;
  }
  .beta td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px dashed #929090a3;
    padding: 15px;
  }
  .beta tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  img {
    max-width: 100%;
    max-height: 100%;
}