<div class="row">
    <div class="col-12">
        <h2 id="bio">Bio</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Ruokai is a second-year Computer Engineering PhD student in 
            <a href="https://seas.yale.edu/departments/electrical-engineering">Department of Electrical Engineering</a>
            at Yale University, advised by 
            <a href="https://intelligentcomputinglab.yale.edu/principal-investigator/">Prof. Priya Panda</a>.
        </p>
        <p>
            His research interests lie in designing low-power Computer Architectures for intelligent applications, in particular,
            Neural Networks.
            His current research focuses on improving the Energy Efficiency of Spiking Nerual Networks.
        </p>

        <p>Prior to joining Yale, he recieved his BS-Electrical Engineering degree from the University of Wisconsin-Madison. 
            During undergraduate time, He worked with <a href="https://jsm.ece.wisc.edu/">Prof. Joshua San Miguel</a>
            on computer architectures for stochastic computing.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/bio.jpg">
    </div>
</div>
