<div class="row">
    <div class="col-12">
        <h2 id="bio">Bio</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Ruokai is currently a final year Ph.D. student in the <a href="https://seas.yale.edu/departments/electrical-engineering">Department of Electrical Engineering</a> at Yale University, 
            where he is advised by <a href="https://intelligentcomputinglab.yale.edu/principal-investigator/">Prof. Priyadarshini Panda</a>.
        </p>
        <p>
            <!-- His research focuses on designing low-power computer architectures and systems tailored for energy-efficient AI workloads. He is especially interested in neuromorphic computing, as enablers for bio-plausible and energy-efficient deep learning (spiking neural networks).
            Additionally, he works on co-designing hardware-aware compression algorithms for neural networks, specifically aimed at enhancing energy efficiency during deployment.  -->
            His research focuses on designing energy-efficient computer architectures, systems, and algorithms for AI workloads, particularly those involving asymmetric operand precision or sparsity. He is also interested in neuromorphic computing, as enablers for bio-plausible and energy-efficient deep learning (spiking neural networks).
        </p>

        <p>
            Prior to joining Yale, he earned his B.S. from the University of Wisconsin-Madison, majored in in Electrical Engineering, Computer Science, and Mathematics. During his undergraduate, 
            he worked with <a href="https://jsm.ece.wisc.edu/">Prof. Joshua San Miguel</a> on designing computer architectures for stochastic computing.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/bio.jpg">
        <!-- <h7 id="sub">Washington, D.C., Apr 2022</h7> -->
        <h7 id="sub">Albuquerque, NM, Dec 2024</h7>
    </div>
</div>

<h2 style="text-align: left;">
    <a href="https://github.com/ruokaiyin" class="external" target="_blank">
        <i class="fab fa-github" style="color: #00356b; font-size: 24px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://scholar.google.com/citations?user=MF1nKn4AAAAJ&hl=en" class="external" target="_blank">
        <i class="fas fa-graduation-cap" style="color: #00356b; font-size: 22px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/ruokai-yin-1296201b6/" class="external" target="_blank">
        <i class="fab fa-linkedin" style="color: #00356b; font-size: 24px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="cv/CV_RuokaiYin.pdf" class="external" target="_blank">
        <i class="far fa-file-pdf" style="color: #00356b; font-size: 22px;"></i>
        <span style="font-size: 14px; margin-left: 5px; vertical-align: middle;">(CV latest update: June 2025)</span>
    </a>
</h2>






