<div class="row">
    <div class="col-12">
        <h2 id="bio">Bio</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            Ruokai is currently a 3rd year Ph.D. student in the <a href="https://seas.yale.edu/departments/electrical-engineering">Department of Electrical Engineering</a> at Yale University, 
            where he is advised by <a href="https://intelligentcomputinglab.yale.edu/principal-investigator/">Prof. Priyadarshini Panda</a>.
        </p>
        <p>
            His research focuses on various computing schemes, with a particular emphasis on neuromorphic computing, as enablers for energy-efficient machine learning. 
            He is especially interested in designing low-power computer architectures and systems tailored to these computing schemes.
            Additionally, he works on co-designing hardware-aware compression algorithms for neural networks, specifically aimed at enhancing energy efficiency during deployment. 
        </p>

        <p>
            Prior to joining Yale, he earned his B.S. from the University of Wisconsin-Madison, majored in in Electrical Engineering, Computer Science, and Mathematics. During his undergraduate, 
            he worked with <a href="https://jsm.ece.wisc.edu/">Prof. Joshua San Miguel</a> on designing computer architectures for stochastic computing.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/bio.jpg">
        <h8 id="sub">Washington, D.C., Apr 2022</h8>
    </div>
</div>






