<div class="row">
    <div class="col-12">
        <h2>Experience</h2>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>July 2021-Present</h4>
    </div>
    <div class="col-8">
        <h5>Graduate Research Assistant, Intelligent Computing Lab</h5>
        <h6>Yale University</h6>
        <p>
            Pursuing PhD degree with Prof. Priya Panda. Working on projects that improving the energy efficiency
            of neural networks, in particular, spiking neural networks.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>June 2019-May 2021</h4>
    </div>
    <div class="col-8">
        <h5>Undergraduate Research Assistant, STACS Lab </h5>
        <h6>University of Wisconsin-Madison</h6>
        <p>Advised by Prof. Joshua San Miguel. Worked on projects that applying unary computing to the deep neural networks. 
        Construted a PyTorch-basede library for unary computing.</p>
    </div>
</div>