<div class="row">
    <div class="col-12">
        <h2>Experience</h2>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>May 2025-Aug 2025</h4>
    </div>
    <div class="col-8">
        <h4>Research Intern</h4>
        <h6>Microsoft, Azure AI, Architecture and Systems for AI team, Mentors: Apala Guha & Xuan Zuo.</h6>
        <p>Autonomous sharding planning in large scale distributed LLM inference system.</p>
        <p>Paper: https://arxiv.org/abs/2509.00217 (Accepted to Workshop on ML for Systems, NeurIPS 2025)</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>May 2024-Aug 2024</h4>
    </div>
    <div class="col-8">
        <h4>Research Intern</h4>
        <h6>Cerebras Systems, ASIC team, Mentor: Vipin Sharma.</h6>
        <p>Architecture design and modeling for Cerebras’s next-generation wafer-scale engine.</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>July 2021-Present</h4>
    </div>
    <div class="col-8">
        <h4>Graduate Research Assistant</h4>
        <h6>Yale University, Intelligent Computing Lab, PI: Prof. Priyadarshini Panda.</h6>
        <p>Working on projects that improving the energy efficiency of neural networks, in particular, spiking neural networks.</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>June 2019-May 2021</h4>
    </div>
    <div class="col-8">
        <h4>Undergraduate Research Assistant</h4>
        <h6>University of Wisconsin-Madison, STACS Lab, PI: Prof. Joshua San Miguel.</h6>
        <p>Worked on projects that applying unary computing to the deep neural networks. Construted a PyTorch-basede library for unary computing.</p>
    </div>
</div>