<h1 style="text-align: center;">Ruokai Yin</h1>
<h4 style="text-align: center;">PhD student, Electrical Engineering, Yale University</h4>
<h4 style="text-align: center;">E-mail: ruokai.yin@yale.edu</h4>
<h4 style="text-align: center;">
    <a href="https://github.com/ruokaiyin" class="external" target="_blank">Github</a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://scholar.google.com/citations?user=MF1nKn4AAAAJ&hl=en" class="external" target="_blank">Google Scholar</a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/ruokai-yin-1296201b6/" class="external" target="_blank">Linkedin</a>
</h4>