<div class="row">
    <div class="col-12">
        <h2 id="news">News</h2>
    </div>
</div>

<div class="row">
    <ul>        
        <!-- Add more news items here -->
        <li><strong>2025/03:</strong> &nbsp; » &nbsp; I will join Microsoft Azure as a Research Intern, working with AI System Architectur team (June - August).</li>
        <li><strong>2025/02:</strong> &nbsp; » &nbsp; DAC 2025 paper accepted.</li>
        <li><strong>2024/07:</strong> &nbsp; » &nbsp; MICRO 2024 paper accepted.</li>
        <li><strong>2024/03:</strong> &nbsp; » &nbsp; I will join <a href="https://www.cerebras.net/company/">Cerebras System</a> as a Research Intern, working with ASIC team (June - August).</li>
        <li><strong>2024/03:</strong> &nbsp; » &nbsp; IEEE TETCI paper accepted.</li>
        <li><strong>2023/10:</strong> &nbsp; » &nbsp; MINT nominated for best paper award at ASP-DAC 2024.</li>
        <li><strong>2023/09:</strong> &nbsp; » &nbsp; ASP-DAC 2024 paper accepted.</li>
    </ul>
</div>