<div class="row">
    <div class="col-12">
        <h2 id="news">News</h2>
    </div>
</div>

<div class="row">
    <ul>
        <li><strong>Mar, 2025:</strong> » I will join Microsoft Azure as a Research Intern, working with AI System Architectur team.</li>
        <li><strong>Feb, 2025:</strong> » DAC 2025 paper accepted.</li>
        <li><strong>Jul, 2024:</strong> » MICRO 2024 paper accepted.</li>
        <li><strong>Jun, 2024:</strong> » I will join <a href="https://www.cerebras.net/company/">Cerebras System</a> as a Research Intern, working with ASIC team.</li>
        <li><strong>Mar, 2024:</strong> » IEEE TETCI paper accepted.</li>
        <li><strong>Oct, 2023:</strong> » MINT nominated for best paper award at ASP-DAC 2024.</li>
        <li><strong>Sep, 2023:</strong> » ASP-DAC 2024 paper accepted.</li>
        <!-- Add more news items here -->
    </ul>
</div>