<div class="row">
    <div class="col-12">
        <h2 id="news">News</h2>
    </div>
</div>

<div class="row">
    <ul>
        <li><strong>Jul, 2024:</strong> » LoAS is accepted to MICRO 2024.</a></li>
        <li><strong>Jun, 2024:</strong> » Starting the position of Research Intern in ASIC team at <a href="https://www.cerebras.net/company/">Cerebras System Inc.</a></li>
        <li><strong>Mar, 2024:</strong> » u-Ticket is accepted to IEEE TETCI.</a></li>
        <li><strong>Oct, 2023:</strong> » MINT is nominated for best paper award at ASP-DAC 2024.</a></li>
        <li><strong>Sep, 2023:</strong> » MINT is accepted to ASP-DAC 2024.</a></li>
        <!-- Add more news items here -->
    </ul>
</div>