<div class="row">
    <div class="col-12">
        <h2>Selected Publications</h2>
        <p></p>
    </div>
</div>

{% for publication in site.data.publications %}
<div class="row publication-item mb-4">
    <!-- Publication information (60%) -->
    <div class="col-md-7">
      <div class="papertitle">{{ publication.title }}</div>
      <div class="paperauthors">{{ publication.author }}</div>
      {% if publication.conference == "N" %}
        <div class="paperauthors">{{ publication.booktitle }}, {{ publication.year }}</div>
      {% else %}
        <div class="paperauthors">{{ publication.booktitle }}, 
          {% if publication.month %}{{ publication.month }}, {% endif %}
          {{ publication.year }}
        </div>
      {% endif %}
      <div class="paper-links">
        [<a class="papertitle" href="{{ site.baseurl }}/papers/{{publication.file}}">paper</a>]
        {% if publication.code %}
          &nbsp;[<a class="papertitle" href="{{ publication.code }}">code</a>]
        {% endif %}
        {% if publication.pre and publication.pre != "N" %}
          &nbsp;[<a class="papertitle" href="{{ site.baseurl }}/slides/{{publication.pre}}">slides</a>]
        {% endif %}
      </div>
    </div>
    
    <!-- Publication image (40%) -->
    <div class="col-md-5">
        <img class="img-fluid paper-thumbnail" src="{{ site.baseurl }}/assets/img/{{ publication.img }}" 
             alt="Thumbnail for {{ publication.title }}">
      </div>
    </div>
{% endfor %}