<div class="row">
    <div class="col-12">
        <h2>Publication</h2>
        <p></p>
    </div>
</div>

{% for publication in site.data.publications %}
{% if publication.conference == "N" %}

<div class="row">
    <!-- <div class="col-2 align-self-center"> -->
    <!-- <div class="col-2">
        <h4 class="conference">{{ publication.booktitle }}</h4>
    </div> -->
    <div class="col-12">
        <nobr class="papertitle"> {{ publication.title }} </nobr>
        &nbsp;&nbsp;&nbsp;
        [<a class="papertitle" href="{{ site.baseurl }}/papers/{{publication.file}}">paper</a>]
        &nbsp;
        [<a class="papertitle" href="{{ publication.code }}">code</a>]
        <div class="paperauthors"> {{ publication.author }} </div>
        <p class="paperauthors"> {{ publication.booktitle }}, {{ publication.year }} </p>
        <br>
    </div>
</div>

{% else %}

<div class="row">
    <!-- <div class="col-2">
        <h4 class="conference">{{ publication.conference }}</h4>
    </div> -->
    <div class="col-12">
        <nobr class="papertitle"> {{ publication.title }} </nobr>
        &nbsp;&nbsp;&nbsp;
        [<a class="papertitle" href="{{ site.baseurl }}/papers/{{publication.file}}">paper</a>]
        &nbsp;
        [<a class="papertitle" href="{{ publication.code }}">code</a>]
        <div class="paperauthors"> {{ publication.author }} </div>
        <p class="paperauthors"> {{ publication.booktitle }},
            {{ publication.month }}, {{ publication.year }} </p>
        <br>
    </div>
</div>
{% endif %}
{% endfor %}