<div class="row">
    <div class="col-12">
        <h2>Teaching</h2>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>2023 Fall</h4>
    </div>
    <div class="col-8">
        <h5>Teaching Fellow, EENG 439 Neural Networks and Learning Systems</h5>
        <h6>Yale University</h6>
        <p>Instructor: Prof. Priya Panda. <a href="https://intelligentcomputinglab.yale.edu/courses">Course Description</a>.
    </div>
</div>

<div class="row">
    <div class="col-3">
        <h4>2023 Spring</h4>
    </div>
    <div class="col-8">
        <h5>Teaching Fellow, EENG 348/CPSC 338: Digital Systems </h5>
        <h6>Yale University</h6>
        <p>Instructor: Prof. Rajit Manohar. <a href="https://csl.yale.edu/~rajit/classes/eeng348/">Course Description</a>.
    </div>
</div>