.current {
  text-decoration: underline;
  text-decoration-style: wavy;
  padding: 12px;
}

.container {
  margin: 0 auto;
  background: #fdfafaa2;
  max-width: 960px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

body {
  background: #dbdadaa2;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  // background-image: url(../img/beach.png);
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  font-family: "Chivo", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 56px !important;
  font-weight: bolder;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #303030;
  padding-top: 16px;
  margin-bottom: 16px;
}

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
}

h5 {
  font-family: Helvetica, Arial, serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #303030;
}

h6 {
  font-size: 1em;
  color: #303030;
  font-style: italic;
}

p {
  font-family: sans-serif;
  font-size: 0.95em;
  font-weight: 500;
  margin-bottom: 20px;
}

figure {
  margin: 5px;
  margin-bottom: 20px;
}

figcaption {
  font-family: Helvetica, Arial, serif;
  font-style: italic;
}