.conference {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.papertitle {
    font-family:  Arial, sans-serif;
    font-weight: bold;
}

.paperauthors {
    font-family:  Arial, sans-serif;
    margin-bottom: 5px;
    font-size: 16px;
}