.conference {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.papertitle {
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.paperauthors {
    font-family: "Gill Sans", sans-serif;
    font-size: 11px;
    // margin-bottom: 5px;
    // font-size: 16px;
}