.conference {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.papertitle {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 14px;
}

.paperauthors {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    // margin-bottom: 5px;
    // font-size: 16px;
}