<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="UXRJxSf5_F-191BWvs3U0DYLxZHpu5WOmQujVWV1uN4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/circle_icon.ico" />

    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include navigation.html %}
        {{ content }}
    </div>
</body>

</html>